/.ipynb_checkpoints
/.vscode
/AlgorithmicTrading
/Auto_Clicker
/CNN_Algo_Trading
/Deep_Learning_Cars
/EyeLocalization
/Highway_Car_Detection
/InstaBot
/labelImg
/Master_Mo
/PyQt
/test.py
/VSC
/welcome.mp3